<html lang="pl" xmlns:th="thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navigation">
    <h1>GeoProject1</h1>

    <div sec:authorize="isAnonymous()">
        <ul>
            <li><a th:href="@{/probe}">Sondowania</a></li>
            <li><a th:href="@{/borehole}">Odwierty</a></li>
        </ul>

        <p>Jesteś zalogowany jako <span sec:authentication="name"></span></p>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Wyloguj">
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Zaloguj się</a>
    </div>
</div>
</body>
</html>