<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <style th:inline="text">
        body{
            background: #6aff3e
            no-repeat center center fixed;
        }
    </style>
    <link th:href="@{style/dex.css}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Geoproject</title>
</head>
<body>

<form method="post" th:action="@{/authenticate}">
    Login: <input type="text" name="username"/><br>
    Hasło: <input type="password" name="password"/><br>
    <input type="submit" value="Zaloguj"/>
</form>

<div>
    <a th:href="@{/}">Wróć do strony głownej</a>
</div>
</body>
</html>