<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <style th:inline="text">
        body{
            background: #6aff3e
            no-repeat center center fixed;
        }
    </style>
    <link th:href="@{style/dex.css}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Probes</title>
</head>
<body>

    <table>
        <thead class="header">
            <td>Operator</td>
            <td>Głębokość</td>
            <td>Data wykonania</td>
            <td>Lokalizacja</td>
        </thead>
        <tbody>
            <tr th:each="probe, iterStat : ${probes}" >
                <td><span th:text="${probe.operator}"></span></td>
                <td><span th:text="${probe.depth}"></span></td>
                <td><span th:text="${probe.probeDate}"></span></td>
                <td><span th:text="${probe.location}"></span></td>
                <td><a th:href="@{/probe/addOrUpdate?id=} + ${probe.id}">Edytuj</a></td>
                <td><a th:href="@{/probe/delete?id=} + ${probe.id}">Usuń</a></td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><a th:href="@{/probe/addOrUpdate}">Dodaj próbkę</a></p>
    </div>

    <div>
        <a th:href="@{/}">Wróć do strony głownej</a>
    </div>
</body>
</html>